.page-header {
  text-align: center;
}

img {
  width: 90%;
  height: auto;
  border-top: 5px solid #2D2D2D;
  position: relative;
  top: -8px;
}  

.page-header h1 {
  margin-top: -250px;
  position: relative;
  bottom: -70px;
  right: 50px;
  font-family: 'Abril Fatface';
  color:#2D2D2D;
  font-size: 70px;
}

.page-header h2 {
  margin-top: -250px;
  margin-bottom: 250px;
  position: relative;
  bottom: -80px;
  right: 230px;
  font-family: 'Abril Fatface';
  color: #2D2D2D;
  font-size: 38px;
}

ul {
  list-style: square;
}

main {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px; 
  color:#2D2D2D;                        
  width: 900px;
  margin: 0 auto;
  padding-top: 120px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 15px;
}

h3 {
  width: 650px;
}

.formal-training {
  font-weight: bold;  /*why not bold?*/
}

.quote {
  background:#2D2D2D;
  width: 850px;
  padding: 10px;
  color: white;
  position: relative;
  right: 50px;
}

blockquote p {
  display: inline;
  font-family: 'Abril Fatface';
  font-size: 50px;  
}

blockquote::before {
  content: open-quote;
  font-family: 'Abril Fatface';
  font-size: 70px;
}

footer {
  border-top: 5px solid black;
}